h1, h2, h3, h4, h5, h6, .title {
    font-family: 'Arimo', sans-serif;
    color: #4aaaa5;
}

h1 {font-size: 28px}
h2 {font-size: 22px}

p, li {
    font-family: 'Open Sans', sans-serif;
    color: #777777;
    font-weight: 400;
    font-size: 16px;
}

.button {
    font-family: 'Arimo', sans-serif;
    background: #4aaaa5;
    color: white;
    padding: 10px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #777777;
    transition: all 0.2s linear;
}

a:hover {
    color: #aaa;
}

img, .button {
    transition: all 0.2s linear;
}

hr {
    margin: 20px 0;
}

body {
    background: whitesmoke;
}

header h1 {
    display: inline;
    background: #4aaaa5;
    color: white;
    padding: 19px 20px 18px;
}

header ul {
    list-style-type: none;
    float: right;
    margin-top: 5px;
}

header li {
    display: inline-block;
}

header li:not(:last-of-type) {
    margin-right: 20px;
}

header {
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px 40px;
}

header h1 a, header h1 a:hover {
    color: white;
}

main {
    margin: 20px;
}

main p {
    line-height: 1.2em;
}

article, aside {
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 40px;
    margin-top: 30px;
    display: inline-block;
}

article {
    width: 50%;
    vertical-align: top;
    /* float: left; */
    margin-right: 2%;
}

aside {
    width: 30%;
    /* float: left; */
}

aside h2 {
    text-align: left;
}

aside img {
    width: 32%;
    max-width: 150px;
}

aside img:hover {
    opacity: 0.8;
}

footer {
    background: #666666;
    border-top: 5px solid #4aaaa5;
    /* position: absolute; */
    right: 0;
    bottom: 0;
    left: 0;
    /* top: calc(100vh - 10px); */
    top: 100vh;
    height: 60px;
    line-height: 60px;
    text-align: center;
    /* padding: 20px; */
    margin-top: 40px;
}

footer p {
    color: whitesmoke;
}

.button {
    max-width: 100px;
}

.button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.profile-pic {
    width: 100%;
    max-width: 200px;
    float: left;
}

form input, form textarea {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
}

input:focus, textarea:focus { 
    outline: none !important;
    border-color: #4aaaa5;
    box-shadow: 0 0 5px #4aaaa5;
}

figure {
    display: inline-block;
    width: 47%;
    position: relative;
}

figure img, figure .title {
    width: 100%;
}

figure, figure:nth-child(odd) {
    margin: 1%;
}

figure a:hover {
    opacity: 0.7;
}

.title {
    position: absolute;
    padding: 20px 0;
    background: #4aaaa5;
    width: 100%;
    margin-top: -75px;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 980px) {
    article {
        width: 40%;
        margin-right: 5%;
    }
    aside {
        width: 30%;
    }
    aside {
        text-align: center;
    }
    aside h2 {
        text-align: left;
    }
    .profile-pic {
        max-width: 500px;
        display: block;
        margin: auto auto 15px;
    }
    figure, figure .title {
        width: 100%;
        display: block;
        max-width: 300px;
        position: relative;
        margin: auto;
    }
    figure, figure:nth-child(odd) {
        margin: 20px auto;
        display: block;
        position: relative;
    }
}

@media only screen and (max-width: 768px) {
    main {
        margin: auto;
    }
    article, aside {
        width: 70%;
        margin: 20px auto;
        display: block;
    }
    .profile-pic {
        width: 100%;
        max-width: 200px;
        display: block;
        margin: auto auto 15px;
        float: left;
    }
    form input, form textarea {
        max-width: none;
    }
    figure {
        display: inline-block;
        width: 47%;
    }
    figure img, figure .title {
        width: 100%;
    }
    figure, figure:nth-child(odd) {
        display: inline-block;
        margin: 1%;
    }
}

@media only screen and (max-width: 640px) {
    header {
        position: static;
        padding: 0;
        text-align: center;
    }
    header h1 {
        display: block;
    }
    header ul {
        float: none;
        margin: 0;
        padding: 20px;
    }
    header li {
        width: 12%;
    }
    article, aside {
        width: 60%;
        margin: 30px auto;
        display: block;
    }
    aside {
        text-align: left;
    }
    .profile-pic {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: auto auto 15px;
        float: none !important;
    }
    figure, figure:nth-child(odd) {
        margin: 20px auto;
        display: block;
        position: relative;
        width: 100%;
    }
}